$c-white = #FFFFFF // 白色

$c-main = #008cee // 主题色

$c-danger = #fc6c5c // 危险色，红色
$c-green = #2ed47a // 绿色
$c-warn = #faae14 // 警告色,橙色

$fc-gray = #1a1e3a // 字体颜色
$fc-gray2 = #303753 // 字体颜色
$fc-gray3 = #686e84 // 字体颜色
$fc-gray4 = #b4bac8 // 字体颜色


$bgc-gray = #f1f5fa // 背景颜色
$bgc-reminder = #fffbe6 // 温馨提示背景颜色

$icon-gray = #a5a5ad // 图标颜色

$border-main = #ecf0f3 // border

$hover-blue = #0D8CE7 // 鼠标停留时

$c-msgName-gray = #767E91 // 消息框姓名

$c-systemMsg-gray = #B3B9C7 // 系统消息

$c-outMsg-gray = #303753 // 收到消息

$bg-outMsg-bg-gray = #EFEFEF // 收到消息背景

$c-inMsg-white = #FFFFFF // 发出去消息

$bg-inMsg-bg-blue = #008BEE // 发出去消息背景

$b-sendMsgBox-border-grey = #ECF0F3 // 输入框上面边框

$c-textarea-gray = #B3B9C7 // 输入框占位符

$c-sendBtn-gray = #B3B9C7 // 输入框按钮

$c-copyRight-gray = #686E84 // 版权字体

$bg-copyRight-grey = #F8F8F8 // 版权背景
